
touchpad_restart() {
  sudo modprobe -r psmouse && sudo modprobe psmouse
}

backup_phone() {
  rsync -au --exclude=dcim/ ${1} /home/mzd/phone/sdcard/
  rsync -au ${1}/dcim /home/mzd/phone/
}

kill_named_ps() {
  echo kill -KILL \`pgrep -f ${1}\`
  kill -KILL $(pgrep -f "${1}")
}

killskype()
{
    kill_named_ps skype
    nohup skype &
}

restart-gnome() {
  busctl --user call org.gnome.Shell /org/gnome/Shell org.gnome.Shell Eval s 'Meta.restart("Restarting…")'
}