SendEnv LANG LC_*
HashKnownHosts yes
TCPKeepAlive yes
ServerAliveInterval 20
ServerAliveCountMax 6
AddKeysToAgent yes
# ForwardAgent yes
#PubkeyAuthentication no
#PasswordAuthentication yes

IdentityFile ~/.ssh/github_apr_21

host hadhayush
	Hostname 192.168.1.16
	User mzd
	IdentityFile ~/.ssh/id_rsa_2020

host egurian.dev
	Hostname eguriandev.tmitech.co
	User root
	IdentityFile ~/.ssh/id_rsa_2020

host cyberpower
	Hostname cyberpower.elect.info
	User mzd
	IdentityFile ~/.ssh/id_rsa_2020

host cyberpower-vpn
	Hostname 10.10.0.100
	User mzd
	IdentityFile ~/.ssh/id_rsa_2020

host github
	HostName github.com
	User git
	IdentityFile ~/.ssh/github_apr_21

host nadcp
	HostName 3.227.133.187
	Port 22
	User ubuntu
	ForwardAgent yes
	IdentityFile ~/.ssh/nadcp-aws-rsa

host nadcp-prod
	HostName 3.216.176.123
	Port 22
	User ubuntu
	ForwardAgent yes
	IdentityFile ~/.ssh/nadcp-aws-rsa

Host ark.nadcp
	HostName 3.23.208.89
#	HostName ec2-3-23-208-89.us-east-2.compute.amazonaws.com
	User ubuntu
	IdentityFile ~/.ssh/nadcp-aws-rsa
	ForwardAgent yes

host varl-prod
	HostName 45.79.193.123
	Port 32121
	User mzd
	IdentityFile ~/.ssh/mzd_ginkgo_14_rsa

host conf-portals
	HostName 18.117.115.70
	User ubuntu
	IdentityFile ~/.ssh/id_rsa_2020

host conf-portals-prod
	HostName 18.216.239.58
	User ubuntu
	IdentityFile ~/.ssh/id_rsa_2020

host varl
	HostName 45.79.193.123
	Port 32121
	User mzd
	IdentityFile ~/.ssh/mzd_ginkgo_14_rsa


