
Host mowo-sftp
	Hostname prrachousingmo.sftp.wpengine.com
	Port 2222
	User prrachousingmo-mzd
	PasswordAuthentication yes

Host mowo-shell
	Hostname prrachousingmo.ssh.wpengine.net
	User prrachousingmo
	IdentityFile ~/.ssh/wpengine-caracolazul

Host gso
	Hostname 40.84.56.53
	User michael
	IdentityFile ~/.ssh/id_rsa_2020

Host hadhayush
	Hostname 192.168.1.16
	#User mzd
	User admin
	IdentityFile ~/.ssh/id_rsa_2020

Host tahini
	Hostname 192.168.1.18
	User mzd
	IdentityFile ~/.ssh/id_rsa_2020

Host egurian.dev
	Hostname eguriandev.tmitech.co
	User root
	IdentityFile ~/.ssh/id_rsa_2020

Host cyberpower
	Hostname cyberpower.elect.info
	User mzd
	IdentityFile ~/.ssh/id_rsa_2020

Host cyberpower-vpn
	Hostname 10.10.0.100
	User mzd
	IdentityFile ~/.ssh/id_rsa_2020

Host github
	HostName github.com
	User git
	IdentityFile ~/.ssh/github_apr_21

Host nadcp
	HostName 3.227.133.187
	Port 22
	User ubuntu
	ForwardAgent yes
	IdentityFile ~/.ssh/nadcp-aws-rsa

Host nadcp-prod
	HostName 3.216.176.123
	Port 22
	User ubuntu
	ForwardAgent yes
	IdentityFile ~/.ssh/nadcp-aws-rsa

Host ark.nadcp
	HostName 3.23.208.89
#	HostName ec2-3-23-208-89.us-east-2.compute.amazonaws.com
	User ubuntu
	IdentityFile ~/.ssh/nadcp-aws-rsa
	ForwardAgent yes

Host conf-portals
	HostName 18.117.115.70
	User ubuntu
	IdentityFile ~/.ssh/id_rsa_2020

Host conf-portals-prod
	HostName 18.216.239.58
	User ubuntu
	IdentityFile ~/.ssh/id_rsa_2020


# Defaults
# NB: configs can only be set once, so defaults must come last.
Host *
SendEnv LANG LC_*
	HashKnownHosts yes
	TCPKeepAlive yes
	ServerAliveInterval 20
	ServerAliveCountMax 6
	AddKeysToAgent yes
	ForwardAgent no
  	# PubkeyAuthentication no
	# PasswordAuthentication yes
	IdentityFile ~/.ssh/id_rsa_2020

